<div class="exit"><i onclick="window.block_users_aplus_go_home()"></i></div>
<div class="icon"><div>{{#user.icon}}<img src="{{user.icon}}">{{/user.icon}}{{#user.icon_txt}}{{user.icon_txt}}{{/user.icon_txt}}</div></div>
<div class="name"><a href="{{user.url_profile}}">{{user.name}}</a></div>