<div class="block_users_aplus user_add_grade">
    {{< block_users_aplus/user_top }}{{/ block_users_aplus/user_top}}
    <div class="add_garde_list_btn">
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(1)"><div>1</div></div>
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(2)"><div>2</div></div>
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(3)"><div>3</div></div>
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(4)"><div>4</div></div>
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(5)"><div>5</div></div>
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(6)"><div>6</div></div>
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(7)"><div>7</div></div>
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(8)"><div>8</div></div>
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(9)"><div>9</div></div>
        <div class="garde_btn"  onclick="window.block_users_aplus_add_user_grade_set(10)"><div>10</div></div>
        <div style="clear:both;"></div>
    </div>
</div>