<div id="block_users_aplus_box" class="block_users_aplus_box" data-region="users_aplus">
    <div id="block_users_aplus_box_load" class="load"><div>loading...</div></div>
    <div id="block_users_aplus_box_content">
        {{< block_users_aplus/users_list }}{{/ block_users_aplus/users_list}}
    </div>
</div>